**/.idea/
**/.coverage
**/__pycache__/
**/.mypy_cache/
**/.ipynb_checkpoints/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.cpb
**/main
**/a.out
_deps
**/cmake-build-debug/
